<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Hello, world!</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
<section class="row">
  <div class="col mt-4">
    <div class="card">
      <div class="card-header">List Category</div>
      <a th:href="@{/admin/Images/add}" class="btn btn-success">
        Add <i class="fa fa-edit"></i>
      </a>
      <div class="card-body">
        <div th:if="${message}" class="alert alert-primary" role="alert" th:utext="${message}"></div>
        <div class="col-md-6">
          <form th:action="@{/admin/Images/search}">
            <div class="input-group">
              <div class="form-outline">
                <input th:value="${name}" id="search-focus" type="search" name="name" class="form-control" />
              </div>
              <button type="submit" class="btn btn-primary">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </form>
        </div>
        <table class="table table-striped table-bordered table-hover table-responsive" id="sample_2">
          <thead class="thead-inverse">
          <tr>
            <th>Image ID</th>
            <th>Image Name</th>
            <th>Image</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="Image, state:${Images}" class="odd gradeX">
            <td th:utext="${Image.ID }"></td>
            <td th:utext="${Image.name }"></td>
            <td>
              <img th:if="${Image.image != null}" th:src="${Image.image}" width="70" class="img-fluid" />
              <img th:if="${Image.image == null}" th:src="@{/images/noimage.jpg}" width="70" class="img-fluid" />
            </td>
            <td>
              <a th:href="@{/admin/Images/edit/{ID}(ID=${Image.ID})}" class="center">Edit</a> |
              <a th:href="@{/admin/Images/delete/{ID}(ID=${Image.ID})}" class="center">Delete</a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>